<ion-view title="Luna Terra" id="page1" style="background-color:#121010;">
  <ion-content padding="false" style="background: url(img/uR0yZNKlQsWrN4xrifZ4_earthedge.jpg) no-repeat center;background-size:cover;" class="no-header">
  <video id="video" autoplay style="width: 100%"><source src="https://s3.amazonaws.com/baltekfiles/Web+Media/RENDER+HD+1920x1080.mp4" type="video/mp4"></video>
    <div class="list card" id="lunaTerra-card22">
      <div class=" item item-image">
        <a style="display:block;" ui-sref="menu.mission">
          <img src="http://media-channel.nationalgeographic.com/media/uploads/photos/content/video/2016/07/05/714624579650_714624579650.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div class="item item-body" id="lunaTerra-list-item-container6">
        <div id="lunaTerra-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
          <h1 style="margin-top:0px;color:#000000;">Mission</h1>
        </div>
      </div>
    </div>
    <div class="list card" id="lunaTerra-card23">
      <div class=" item item-image">
        <a style="display:block;" ui-sref="menu.ship">
          <img src="img/Transport5.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div class="item item-body" id="lunaTerra-list-item-container7">
        <div id="lunaTerra-markdown8" style="text-align:center;" class="show-list-numbers-and-dots">
          <h1 style="margin-top:0px;color:#000000;">Ship</h1>
        </div>
      </div>
    </div>
    <div class="list card" id="lunaTerra-card24">
      <div class=" item item-image">
        <a style="display:block;" ui-sref="menu.process">
          <img src="img/product-launcher-formula-process-map-the-beta-launch-process-n.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div class="item item-body" id="lunaTerra-list-item-container8">
        <div id="lunaTerra-markdown9" style="text-align:center;" class="show-list-numbers-and-dots">
          <h1 style="margin-top:0px;color:#000000;">Process</h1>
        </div>
      </div>
    </div>
    <div class="list card" id="lunaTerra-card25">
      <div class=" item item-image">
        <a style="display:block;" ui-sref="menu.support">
          <img src="img/financial-assistance-options.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div class="item item-body" id="lunaTerra-list-item-container9">
        <div id="lunaTerra-markdown10" style="text-align:center;" class="show-list-numbers-and-dots">
          <h1 style="margin-top:0px;color:#000000;">Support</h1>
        </div>
      </div>
    </div>
    <div class="list card" id="lunaTerra-card26">
      <div class=" item item-image">
        <a style="display:block;" ui-sref="menu.contact">
          <img src="img/Contact-connect.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div class="item item-body" id="lunaTerra-list-item-container10">
        <div id="lunaTerra-markdown11" style="text-align:center;" class="show-list-numbers-and-dots">
          <h1 style="margin-top:0px;color:#000000;">Contact</h1>
        </div>
      </div>
    </div>
  <!--<script type="text/javascript">  video.addEventListener("timeupdate", function(){
    // check whether we have passed 5 minutes,
    // current time is given in seconds
    if(this.currentTime >= 8) {
        // pause the playback
        this.pause();
    }
});</script>-->
  </ion-content>
</ion-view>