<ion-view title="Mission" id="page2">
  <ion-content padding="true" class="has-header" style="background: url(img/earthedge.jpg);">
    
    <div class="features">
                <section>
                  <h1 style="color: white;">Future of Exploration</h1>
                  <p style="color: white;text-align: justify;">Offering plans and systems to take space travel through its next evolution.</p>
                </section>
                <section>
                  <h1 style="color: white;">Present day opportunities</h1>
                  <p style="color: white;texttext-align: justify;-align: justify;">To realize our dream for the future of space travel, action must be taken today. This action offers many opportunities today.</p>
                </section>
            </div>
              <!-- <video autoplay loop style="size: fill; z-index: -1;"><source src="https://s3.amazonaws.com/baltekfiles/Web+Media/rea_slow.m4v" type="video/mp4">
    </video>-->
  </ion-content>
</ion-view>